@import (css)
  url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500');

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #ffffff;
  height: 100%;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, san-serif;
  font-weight: 300;
  line-height: 1.6;
  margin: 0;
}
