@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500');

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, san-serif;
  font-weight: 300;
  line-height: 1.15;
  margin: 0;
}

/* Some minimal styling to center the form with some margin */
.StripeForm {
  margin: 40px auto;
  max-width: 400px;
}

/* Styles our inputs and Stripe Elements consistently */
input,
.StripeElement {
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  margin-bottom: 8px;
  -webkit-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
}

/* Customizes how inputs and Stripe Elements appear on focus */
input:focus,
.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

/* Add custom styles here */
